

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

release

auto-imports.d.ts
yarn.lock
*-lock.json
components.d.ts
build/config.gypi
.eslintcache
pnpm-lock.yaml
docs\.vitepress\cache
gluon_data


app/nn-website/.eslintrc.js

svg-component-global.d.ts
svg-component.d.ts
